@CHARSET "UTF-8";

table tbody .ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #FFFFFF;
    color: #333333;
}
table tfoot .ui-widget-header {
    
    border: 0 solid #FFFFFF;
    color: #333333;
}
table thead .ui-widget-header {
    
    border: 0 solid #FFFFFF;
    color: #333333;
}
