@CHARSET "UTF-8";

.panel {
	width: 850px;
}

.panelLong {
	width: 1000px;
}


.table {
	max-width: 200px;
}

.grid tr,.grid td {
	border: none;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 95%;
}

.ui-menuitem-link {
	text-decoration:none;
}

.ui-state-disabled {
	opacity: 0.9 !important;
		
}

