@CHARSET "UTF-8";

.panel {
	width: 850px;
}

.panelLong {
	width: 1000px;
}


.table {
	max-width: 200px;
}

.ui-datatable tbody td.wrap {
    white-space: normal;
}

.grid tr,.grid td {
	border: none;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 95%;
}

.ui-menuitem-link {
	text-decoration:none;
}

.ui-state-disabled {
	opacity: 0.9 !important;
		
}

.ui-accordion .ui-accordion-content{
	padding-left:0px;
}

.ui-panelgrid .ui-panelgrid-cell{
	border:none;
}

.ui-selectonemenu-filter-container {
    width: 98% !important;
}
